<div class="container">
    <div class="container-item">
        <h1 class="">IoT Soil Reading</h1>
        <p>Value for the Sensor is 0 to 1024 normally <br> based on the level of resistance.<br><br> 
            It normally takes 15 - 20mins for the <br>value to stabilize</p>
        <h2>Current Value: <span id="soildata"></span></h2>
    </div>
</div>